.home{
	.header{
		display: flex;
		background-color:$primary-color;
		background-image: url(/images/fondo-home.jpg);
		background-position: 60% 50%;
		background-size: cover;
		min-height: 50vh;
		@include media-breakpoint-up(md){
			align-items: center;
			background-position: top;
		}
		.info-header{
			color: white;
			padding: 1rem;
			@include media-breakpoint-up(md){
				margin-left: 5rem;
				padding: 0;
				width: 40vw;
			}
			.titul-header{
				position: relative;
				&:after{
					content: '';
					background: linear-gradient(
						to left,
						rgba($primary-color,1) 40%,
						rgba(#D69BF8,.6) 100%
					  )
					  left
					  bottom
					  white
					  no-repeat;
					width: 100%;
					height: 3px;
					right: 0;
					bottom: -2px;
					position: absolute;
				}
			}
		}
	}
	.markets{
		height: 40vh;
		.titul{
			&::after{
				background: #212529;
			}
		}
	}

	.why-us{
		position: relative;
		@include media-breakpoint-up(md){
			&::after{
				content: "";
				background-image: url(/images/logo-short-black.svg);
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background-repeat: no-repeat;
				background-position: 125%;
				opacity: 0.1;
				background-size: 40%;
			}
		}

		.titul{
			&::after{
				background: $primary-color
			}
		}

		img{
			max-width: 40vw;
			margin: auto;
			display: block;
			@include media-breakpoint-up(md){
				max-width: 10vw;
			}
		}

		.values{
			transition: 1s all ease;
			z-index: 9999;
			&:hover{
				cursor: pointer;
				transform: scale(1.06);
			}
		}
	}

	.our-coin{
		background-image: url(/images/coin.png);
		background-position: left center;
		background-repeat: no-repeat;
		@include media-breakpoint-up(md){
			background-position: 200%;
			background-size: 80%;
			padding: 3rem;
		}
		.titul{
			&::after{
				background: $secundary-color;
			}
		}
		a{
			background-color: $secundary-color;
			color: white;
		}
	}
}
